// [START form]
extends ../base.jade

apend scripts
  script

block content
  if !query
    - var query = {}
    p= query
  if !query.categorias
    - var query.categorias = {}
    - query.categorias.acomp={}
    - query.categorias.clientes={}
    - query.categorias.uf={}
    - query.categorias.fase={}
    - query.categorias.pessoas={}
    - query.categorias.advogado={}
    - query.categorias.adv={}
    - query.categorias.resp={}
    - query.categorias.natVara={}
    - query.categorias.numVara={}
    - query.categorias.natAcao={}
    - query.categorias.status={}
    - var categorias = query.categorias

  h3 #{action} processo
  form(method="POST")
    .form-group.row
      label.form-control-label.col-sm-2(for="numero") Número do processo:
      .col-sm-10
        input.form-control(type="text", name="numero", id="numero", value=item.numero)
    .form-group.row
      label.form-control-label.col-sm-2(for="numero") Acompanhamento:
      .col-sm-10
        select.form-control(name="acomp", id="acomp")
          for acomps in query.categorias.acomp
            if item.acomp == acomps
              option(selected="true") #{acomps}
            else
              option #{acomps}
    .form-group.row
      label.form-control-label.col-sm-2(for="link") Link de acompanhamento:
      .col-sm-10
        input.form-control(type="text", name="link", id="link", value=item.link)
    .form-group.row
      label.form-control-label.col-sm-2(for="cliente") Cliente:
      .col-sm-10
        select.form-control(name="cliente", id="cliente")
            for cliente in query.categorias.clientes
              if item.cliente == cliente
                option(selected="true") #{cliente}
              else
                option #{cliente}
    .form-group.row
      label.form-control-label.col-sm-2(for="parteCliente") Parte cliente:
      .col-sm-10
        input.form-control(type="text", name="parteCliente", id="parteCliente", value=item.parteCliente)
    .form-group.row
      label.form-control-label.col-sm-2(for="parteContraria") Parte contrária:
      .col-sm-10
        input.form-control(type="text", name="parteContraria", id="parteContraria", value=item.parteContraria)
    .form-group.row
      label.form-control-label.col-sm-2(for="advogado") Advogado:
      .col-sm-2
        select.form-control(name="advogado", id="advogado", size="6", multiple="multiple")
          for advogado in query.categorias.advogados
            if item.advogado == advogado
              option(selected="true") #{advogado}
            else
              option #{advogado}
      .col-sm-2
        p.form-control-text (Seleção múltipla. Segura ctrl ou command para selecionar mais de um)
    .form-group.row
      label.form-control-label.col-sm-2(for="responsavel") Responsável&#58;
      .col-sm-2
        select.form-control(name="responsavel", id="responsavel", size="6", multiple="multiple")
          for responsavel in query.categorias.responsaveis
            if item.responsavel == responsavel
              option(selected="true") #{responsavel}
            else
              option #{responsavel}
      .col-sm-2
        p.form-control-text (Seleção múltipla. Segura ctrl ou command para selecionar mais de um)
    hr
    .form-group.row
      h3 Escolha Estado (UF), Instância, Comarca e Vara (nessa ordem):
      label.form-control-label.col-sm-2(for="estado") Estado (UF):
      .col-sm-2
        select.form-control.col-sm-2(name="estado", id="estado")
          for estado in query.categorias.estados
            if item.estado == estado
              option(selected="true") #{estado}
            else
              option #{estado}
    .form-group.row
      label.form-control-label.col-sm-2(for="comarca") Comarca:
      .col-sm-2
        select.form-control(name="comarca", id="comarca", disabled="disabled")
          option Selecione o estado
          
    .form-group.row
      label.form-control-label.col-sm-2(for="instancia") Instância:
      .col-sm-2
        select.form-control(name="instancia", id="instancia")
          for instancia in query.categorias.instancias
            if item.instancia == instancia
              option(selected="true") #{instancia}
            else
              option #{instancia}
    .form-group.row
      label.form-control-label.col-sm-2(for="numVara") Vara:
      .col-sm-2
        select.form-control(name="numVara", id="numVara")
          for numVara in query.categorias.numVaras
            if item.numVara == numVara
              option(selected="true") #{numVara}
            else
              option #{numVara}
      .col-sm-2
        select.form-control(name="natVara", id="natVara")
          for natVara in query.categorias.natVaras
            if item.natVara == natVara
              option(selected="true") #{natVara}
            else
              option #{natVara}
    hr
    .form-group.row
      label.form-control-label.col-sm-2(for="fase") Fase
      .col-sm-2
        select.form-control(name="fase", id="fase")
          for fase in query.categorias.fases
            if item.fase == fase
              option(selected="true") #{fase}
            else
              option #{fase}
    .form-group.row
      label.form-control-label.col-sm-2(for="status") Status atual
      .col-sm-2
        select.form-control(name="status", id="status")
          for stato in query.categorias.status
            if item.status == stato
              option(selected="true") #{stato}
            else
              option #{stato}
    .form-group.row
      label.form-control-label.col-sm-2(for="observacoes") Observações
      .col-sm-10
        input.form-control(type="text", name="observacoes", id="observacoes", value=item.observacoes)
    .form-group
    .col-sm-offset-2
      button.btn.btn-success.col-sm-2(type="submit") Salvar

// [END form]
// LINK	ACOMP	NUM_PROC	CLIENTE	PARTE_CLIENTE	PARTE_EX	ADV	RESP	ESTADO	INST	COMARCA	NUM_VARA	NAT_VARA	NAT_ACAO	FASE	STATUS_ATUAL	AND_RELEVANTES	OBSERVACOES
