- // /views/clientes/list.jade
extends ../base.jade
block content
	h3= fullName
	.table-responsive
		table.table.table-striped.table-condensed
			thead
				tr
					th id
					th Alias
					th Num (Legado)
					th Full Name
					th Contato Financeiro
					th Contato Processual
			tbody
				each item in items
					tr
						td= item.id
						td= item.alias
						td #{item.num}&nbsp;(#{item.numLegado})
						td= item.fullName
						td
							a(href='mailto:#{item.emailFinanceiro}') #{item.tratamento}&nbsp;#{item.contatoFinanceiro}
						td
							a(href="#{item.emailProcessual}") #{item.tratamentoProcessual}&nbsp;#{item.contatoProcessual}
	if !items.length
		p Nenhuma pessoa encontrado.
	if nextPageToken
		nav
			ul.pager
				li
					a(href="?pageToken=#{encodeURIComponent(nextPageToken)}") Mais